* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
   font-family: 'Poppins', sans-serif;
   a {
      text-decoration: none;
      color: black;
   }
}

.maxWidth {
   max-width: 1350px;
   margin: 0 auto;
}

section:not(:first-child) {
   margin-top: 5rem;
   padding: 0rem 2rem;
}

section:last-child {
   margin-bottom: 5rem;
}

.sectionTitle {
   margin-bottom: 2.5rem;
}

:root {
   --margin-font-color: #484848;
   --green: #68BF94;
   --black: #000000;
   --white: #FFFFFF;
   --gray: #F2F2F2;
   --Dark-gray: #C3C3C4;
}

.header {
   display: flex;
   background-color: var(--white);
   justify-content: space-between;
   align-items: center;
   padding: 1.5rem 5rem;
   p {
      strong {
         display: flex;
         align-items: center;
      }
      strong::before {
         content: url('./assets/logo.svg');
         margin-right: 1rem;
      }
   }
   .navBar {
      width: 50%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 5rem;
      ul {
         display: flex;
         width: 100%;
         justify-content: space-between;
         list-style: none;
         li a {
            transition: 300ms;
            color: var(--margin-font-color);
         }
      }
      ul li a:hover {
         color: var(--black);
      }
      .links {
         display: flex;
         gap: 1.5rem;
         a {
            color: var(--Dark-gray);
            font-size: 1.5rem;
            transition: 300ms;
         }
      }
      .links a:hover {
         color: var(--black);
      }
   }
}

.heroSection {
   display: flex;
   flex-direction: column;
   
   .backgroundSection{
      display: flex;
      background-color: var(--black);
      
      .heroSectionDetails {
         color: var(--white);
         align-content: center;
         margin: 0 auto;
         padding: 5rem 2.5rem;
         
         .heroSectionTitle{
            font-size: 3rem;
            font-weight: 700;
         }
         .marginDetails{
            margin-top: 1rem;
            margin-bottom: 0.5rem;
         }
         .greenMarginDetails, a {
            color: var(--green);
            margin-bottom: 2rem;
         }
         button {
            background-color: transparent;
            border: 2px solid var(--white);
            color: var(--white);
            font-weight: 700;
            padding: 0.75rem 2rem;
            border-radius: 5px;
            font-size: 1rem;
            cursor: pointer;
            transition: 300ms;
         }
         
         .greenMarginDetails a:hover {
            text-decoration: underline;
         }
         
         button:hover {
            background-color: var(--gray);
            color: var(--black);
         }
      }
      .heroSectionImg {
         max-width: 60%;
         align-content: center;
         img {
            max-height: 100%;
            max-width: 100%;
         }
      }
   }
}

.featuredGenres {
   .gridSection{
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 0.5rem;
      .card {
         text-align: center;
         font-weight: 700;
         text-transform: uppercase;
         letter-spacing: 3px;
         color: var(--gray);
         align-content: center;
         height: 200px;
         background-size: cover;
         background-repeat: no-repeat;
         background-position: center;
         border-radius: 5px;
         cursor: pointer;
         transition: 300ms;
      }
      .card:nth-child(1) {
         background-image: url('./assets/img/genres/trap@2x.png');
      }
      .card:nth-child(2) {
         background-image: url('./assets/img/genres/r-b-soul@2x.png');
      }
      .card:nth-child(3) {
         background-image: url('./assets/img/genres/drill@2x.png');
      }
      .card:nth-child(4) {
         background-image: url('./assets/img/genres/future_pop@2x.png');
      }
      .card:nth-child(5) {
         background-image: url('./assets/img/genres/emo_rap@2x.png');
      }
      .card:nth-child(6) {
         background-image: url('./assets/img/genres/latin_reggaeton@2x.png');
      }
      .card:nth-child(7) {
         background-image: url('./assets/img/genres/rap_hip_hop@2x.png');
      }
      .card:nth-child(8) {
         background-image: url('./assets/img/genres/afrobeat@2x.png');
      }
      .card:nth-child(9) {
         background-image: url('./assets/img/genres/rap_hip_hop@2x.png');
      }
      .card:nth-child(7), .card:nth-child(8), .card:nth-child(9) {
         grid-column: span 2;
      }
      
      .card:hover {
         background: linear-gradient(var(--gray), var(--gray));
         color: var(--black);
      }
   }
}

.soundDesigners {
   .gridSection{
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 0.5rem;
      .card {
         text-align: center;
         font-weight: 700;
         text-transform: uppercase;
         letter-spacing: 3px;
         color: var(--gray);
         align-content: center;
         height: 200px;
         background-size: cover;
         background-repeat: no-repeat;
         background-position: center;
         filter: grayscale(100%);
         border-radius: 5px;
         cursor: pointer;
         transition: 300ms;
      }
      .card:nth-child(1) {
         background-image: url('./assets/img/films/tenet.jpg');
      }
      .card:nth-child(2) {
         background-image: url('./assets/img/films/west-world.jpg');
      }
      .card:nth-child(3) {
         background-image: url('./assets/img/films/the-revenant.png');
      }
      .card:nth-child(4) {
         background-image: url('./assets/img/films/mad-max.jpg');
      }
      .card:nth-child(5) {
         background-image: url('./assets/img/films/black-swan.jpg');
      }
      .card:nth-child(6) {
         background-image: url('./assets/img/films/baby-driver.jpg');
      }
      
      .card:hover {
         background: linear-gradient(var(--gray), var(--gray));
         color: var(--black);
      }
   }
}

.musicProducer {
   .gridSection{
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 0.5rem;
      .card {
         background-color: var(--gray);
         text-align: center;
         font-weight: 700;
         text-transform: uppercase;
         letter-spacing: 3px;
         align-content: center;
         height: 75px;
         border-radius: 5px;
         cursor: pointer;
         transition: 300ms;
      }
      
      .card:hover {
         background-color: var(--white);
      }
   }
}

.license{
   display: flex;
   justify-content: space-between;
   align-items: center;
   
   .licenseDetails {
      width: 100%;
      padding-right: 10rem;
      .mainTitle {
         font-size: 3rem;
         font-weight: 700;
      }
      .marginTitle {
         margin: 2rem 0rem;
         font-size: 1.25rem;
         color: var(--margin-font-color);
      }
      .gridSection{
         display: grid;
         grid-template-columns: repeat(6, 1fr);
         gap: 0.5rem;
         .card {
            background-color: var(--gray);
            text-align: center;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 3px;
            align-content: center;
            height: 75px;
            border-radius: 5px;
            cursor: pointer;
            transition: 300ms;
         }
         
         .card:nth-child(1){
            grid-area: 1 / 1 / 2 / 3;
         }
         .card:nth-child(2){
            grid-area: 1 / 3 / 2 / 5;
         }
         .card:nth-child(3){
            grid-area: 1 / 5 / 2 / 7;
         }
         .card:nth-child(4){
            grid-area: 2 / 1 / 3 / 4;
         }
         .card:nth-child(5){
            grid-area: 2 / 4 / 3 / 7;
         }
         
         .card:hover {
            background-color: var(--white);
         }
      }
   }
   
   .licenseImg {
      img {
         max-height: 100%;
         max-width: 100%;
      }
   }
}

.platform {
   display: flex;
   justify-content: space-between;
   align-items: center;
   
   .platformDetails {
      width: 100%;
      padding-left: 10rem;
      .mainTitle {
         font-size: 3rem;
         font-weight: 700;
      }
      .marginTitle {
         margin: 2rem 0rem;
         font-size: 1.25rem;
         color: var(--margin-font-color);
      }
      .cardSection{
         display: flex;
         justify-content: space-between;
         .cardTitle {
            font-weight: 700;
            font-size: 2rem;
            margin-bottom: 0.5rem;
         }
         .cardDetails{
            font-size: 1rem;
            color: var(--margin-font-color);
         }
      }
   }
   
   .platformImg {
      img {
         max-height: 100%;
         max-width: 100%;
      }
   }
}

/* ------------------------- RESPONSIVE */

@media only screen and (max-width: 1200px) {
   .license {
      flex-direction: column-reverse;
      gap: 2rem;
      .licenseDetails {
         padding-right: 0rem;
      }
   }
   
   .platform {
      flex-direction: column;
      gap: 2rem;
      .platformDetails {
         padding-left: 0rem;
      }
   }
}

@media only screen and (max-width: 850px) {
   .header {
      display: block;
      p{
         text-align: center;
         margin-bottom: 1.5rem;
         font-size: 1.75rem;
      }
      .navBar {
         width: 100%;
         flex-direction: column;
         gap: 1.5rem;
         .links {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            
         }
      }
   }
   
   .heroSection .backgroundSection{
      flex-direction: column-reverse;
      .heroSectionImg {
         max-width: 100%;
      }
   }
   
   .featuredGenres .gridSection{
      grid-template-columns: repeat(2, 1fr);
      .card:not(:last-child) {
         grid-column: span 1;
      }
   }
   
   .soundDesigners .gridSection {
      grid-template-columns: repeat(2, 1fr);
      
   }
   
   .musicProducer .gridSection {
      grid-template-columns: repeat(2, 1fr);
   }
}

@media only screen and (max-width: 450px) {
   section {
      text-align: center;
   }
   
   section:not(:first-child) {
      padding: 0rem 1rem;
   }

   .header {
      padding: 1.5rem;
      p strong{
         justify-content: center;
      }
   }
   
   .heroSection {
      .backgroundSection{
         .heroSectionDetails {
            padding: 5rem 1rem;
         }
      }
   }

   .license {
      .licenseDetails {
         .gridSection {
            .card {
               letter-spacing: 0.5px;
            }
         }
      }
   }
}